<a href="https://colab.research.google.com/github/wooihaw/ai_with_python_2025/blob/main/handson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Hands-on 1
#### This hands-on provides a quick introduction to Python

### Task 1
Write a program to solve a classic puzzle: There are 35 heads and 94 legs among the chickens and rabbits in a farm. How many rabbits and how many chickens do we have?

In [3]:
# Number of chicken -> c
# Number of rabbit -> r
# r + c = 35
# 4r + 2c = 94

for r in range(36):
    c = 35 - r
    if 4*r + 2*c == 94:
        print(f"There are {c} chickens and {r} rabbits in the farm.")

There are 23 chickens and 12 rabbits in the farm.

### Task 2
Write a program to track the growing amount of investment over time. An initial deposit, called the principal amount, is made. Each year, the amount increased by a fixed percentage, called the annual rate of the return. For example, a principal amount of RM100 with an annual rate of return of 5% increases the ﬁrst year by RM5. The second year, the increase is 5% of the new amount RM105, which is RM5.25, and the new amount becomes RM110.25. The program prompts the user to enter an initial amount, an annual rate (percentage) of return, and a number of years. It then prints out the amount of investment, rounded to 2 decimal places at the end of each year for the specified number of years.

In [1]:
invest = float(input("Enter the initial investment: "))
rate = float(input("Enter the annual rate (%): "))
years = int(input("Enter the number of years to invest: "))

print(f"Initial investment: RM{invest:.2f}, annual rate: {rate:.2f}%, investment years: {years}")

for y in range(years):
    invest = invest + invest * rate/100
    print(f"Year {y+1:>2}: RM{invest:>10.2f}")

Enter the initial investment:  10000
Enter the annual rate (%):  5
Enter the number of years to invest:  10

Initial investment: RM10000.00, annual rate: 5.00%, investment years: 10
Year  1: RM  10500.00
Year  2: RM  11025.00
Year  3: RM  11576.25
Year  4: RM  12155.06
Year  5: RM  12762.82
Year  6: RM  13400.96
Year  7: RM  14071.00
Year  8: RM  14774.55
Year  9: RM  15513.28
Year 10: RM  16288.95

### Task 3
Write a program to read a set of temperature data (the monthly high temperatures in degree Celsius at Heathrow Airport for 1948 through 2016) from a file and then find some basic information: the highest and lowest temperatures, the mean (average) temperature, and the median temperature.

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/wooihaw/datasets/main/Heathrow.txt", header=None, names=['Temperature'])
df

     Temperature
0            8.9
1            7.9
2           14.2
3           15.4
4           18.1
..           ...
823         24.7
824         22.4
825         15.9
826         10.5
827         10.2

[828 rows x 1 columns]

In [3]:
df["Temperature"].agg(["min", "max", "mean", "median"])

min        0.800000
max       28.200000
mean      14.848309
median    14.700000
Name: Temperature, dtype: float64